/* Root element 
CSS variables */
/*  1 rem === 16px */
/* :root{
	background: rgba(0, 255, 255, 0.616);
	font-size: 140%;
}
h1{
	font-size: 3rem;
} */
.absolute{
	/* didnt change */
	font-size: 24px;
} 
.responsive{
	/* changes according to root */
	font-size: 1.5rem;
}
/* Transform: translate(), scale(), rotate(), skew() */
.one,.two,.three{
	width: 150px;
	height: 150px;
	display: inline-block;
}
.one{
	background: blue;
	/* transform: translate(X,Y); */
	transform: translate3d(0px,20px,100px);
	/* transition-property: background,border-radius;
	transition-duration: 4s,2s;
	transition-delay: 0.5s;
	transition: property duration timing-function delay */
	transition: background 3s 2s,border-radius 5s 1s;
}
.two{
	background: darkorange;
	/* transform: scale(X,Y); */
	transform: scale(1,0.1);
}
.three{
	background: darkred;
	/* transform: rotate(Z); */
	/* transform: skew(20deg,-30deg); */
	transition: all 4s 3s;
}
/* Transition: change over time
transition-property:
transition-duration:*/
.one:hover,.two:hover,.three:hover{
	background: darkviolet;
	border-radius: 50%;
}
