*{
	margin: 0;
	padding: 0;
}
:root{
	--primaryColor:#37FF8B;
	--secondaryColor:black;
	--tertiaryColor:white;
}
.navbar li a{
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	padding: 20px 20px;
	color: var(--tertiaryColor);
	display: block;
}
.navbar li{
	float: right;
}
.navbar li a:hover{
	background-color: #37ff8abd;
	color: var(--secondaryColor);
}
.navbar ul h1{
	float: left;
	padding-top:12px ;
	padding-left: 15px;
	color: var(--primaryColor);
}
.navbar ul{
	list-style-type: none;
  background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	top: 0;
}
#active{
	background-color: #37ff8abd;
	color:var(--secondaryColor);
}
.banner{
	min-height: 100vh;
	font-size: 5em;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 700;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: var(--tertiaryColor);
	user-select: none;
	text-shadow: 1px 1px 8px #111;
	display: flex;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0, 0, 0, 0.6)),url(res/math-banner.jpg) center/cover no-repeat fixed;
}
.featured{
	min-height: 430px;
	background-color: var(--secondaryColor);
	border-width: 20px;
	border-style: solid;
	border-color: var(--primaryColor);
}
.featured h2{
	font-size: 60px;
	padding-top: 25px;
	text-align: center;
	color: var(--primaryColor);
}
.featured img{
	padding-top: 30px;
	padding-left: 215px;
}
.footer{
	background-color: black;
}
.footer h4{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color: var(--primaryColor);
	padding-top: 5px;
	padding-bottom: 5px;
}