.fa-adversal{
	color: crimson;
}
h1{
	text-shadow: 2px 2px 3px crimson;
}
.box{
	width: 200px;
	height: 200px;
	background: black;
	box-shadow: 20px 30px 4px gray;
}
/* 
"Resources"
box-shadow and text-shaddow generator
caniuse.com
autoprefixer generator online

Semantic HTML
*/