/* Normal elements */
h1{
	color: rgb(255,200,100);
	background-color: cyan;
}
h2{
	color: chartreuse;
}
span{
	text-transform: uppercase;
}
body{
	/* background or background color */
	/* rgba - a stands for opacity */
	background:rgba(0,0,0,0.85);
	font-family: monospace;
}
/* div element */
div{
	border: 1px solid green;
	width: 900px;
	height: 1100px;
}
/* Class element */
.upper{
	text-transform: capitalize;
}
.red{
	color:red
}
/* ID element */
#secondpara{
	/* HEX values 
	#RRGGBB A(10) B(11) C(12) D(13) E(14) F(15)*/
	background: #FFCC99;
}
/* CSS Specificity */
/* Universal Selector */
*{
	color: green;
	font-size: 50px;

}
.outer{
	width: 500px;
	height: 500px;
	background: black;
}
.inner{
	width: 50%;
	height: 50%;
	background: greenyellow;
}
.inner2{
	width: 50%;
	height: 50%;
	background: royalblue;
}
.banner{
	width: 50vw;
	height: 50vh;
	background: rgb(255, 38, 0);
}
/*
Font size
px - absolute 
em - parent
rem -html
vw
vh
*/