/* descendant */
div h1{
	color: aqua;
}
/* Children */
div > h1{
	color: brown;
}
.header h1{
	color: chartreuse;
}
.header > h1{
	color: purple;
}
p::first-line{
	font-weight: bold;
}
p::first-letter{
	font-size: 7rem;
}
a:link{
	color: seagreen;
}
a:visited{
	color:sienna;
}
a:hover{
	color: red;
}
a:active{
	color:purple;
}
