body{
	background: cyan;
}
.banner{
	background: darkmagenta;
}
.mq{
	color: white;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}
/* Media Queries
Responsive Design
Style Elements on different Screen sizes
min-width: ---starting from

max-width: ---upto
mobile first*/
@media screen and (min-width:576px){
	body{
		background: red;
	}
	.banner{
		background: royalblue;
		/* undefined properties arent overidded */
		border-radius: 10px;
	}
	h1{
		color:black;
		font-size: 60px;
	}
}
/* @media screen and (max-width:768px){
	body{
		background: rgb(175, 80, 80);
	}
	.banner{
		background: royalblue;
	}
	h1{
		color:black;
		font-size: 60px;
	}
} */
