/* 
CSS Variables aka Custom Properties
Holds a value and reuses it
--varName: value
property:var(--varName)
Scope
:root{} === global
element === local
any property */
:root{
	--primaryColor: #fa0988;
	--secondaryColor: #f12332;
	--mainTransition: all 0.4 linear;
}
.heading{
	color:var(--primaryColor);
}
.text{
	color: teal;
}
.main-text{
	color: yellowgreen;
}
.second-heading{
	color:var(--primaryColor) ;
	transition: var(--mainTransition);
}
.second-heading:hover{
	color: var(--secondaryColor) ;
}
div{
	--primaryRed: red;
}
.main-text{
	color:var(--primaryRed);
}